.tree {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #170c49;
  top: 3.5rem;
}

.m-node.placeholder {
  border: 1px dashed #648baa;
}

.m-node .inner {
  color: #9da5b4;
  font-size: 12px;
  font-family: Menlo;
}

.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}

.m-node .node.is-active {
  background-color: #888;
}
